# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/

# Virtual environment
venv/
.venv/
env/
.env/

# Environment variables
.env
*.env

# Django
*.sqlite3
/staticfiles/
/mediafiles/
local_settings.py

# PyCharm
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
