.header-match-result {
  color: var(--color-surface);
  display: flex;
  padding: var(--spacing-4xl) var(--spacing-xl);
  overflow: hidden;
  position: relative;
  min-height: 50vh;
  text-align: center;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/30651230/pexels-photo-30651230.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-position: center;
}

.header-match-result__overlay {
  inset: 0;
  z-index: 2;
  position: absolute;
  background: linear-gradient(to bottom, var(--color-scrim), var(--color-surface));
}
 
.header-match-result__container {
  width: 100%;
  z-index: 3;
  position: relative;
  max-width: var(--content-max-width);
}
 
.header-match-result__top-actions {
  top: 0;
  left: 0;
  position: absolute;
  margin-bottom: var(--spacing-3xl);
}
