.league-tabs-container1 {
  display: contents;
}
 
.league-tabs-container2 {
  display: none;
}
 
.league-tabs-container3 {
  display: contents;
}
 
.league-tabs-container4 {
  display: none;
}
 
.league-tabs-container5 {
  display: contents;
}
